flask
spacy[transformers]
nltk
deep-translator
gunicorn
scikit-learn  # Required for RandomForestClassifier
numpy         # Required for numerical operations
pandas        # Required for handling data


